@import "./Variables.scss";

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: $Poppins;
  background: $body-color;
  color: $primary-color;
}

.container {
  width: 60%;
  margin: 0 auto;
  @include sm {
    width: 95%;
  }
  @include md {
    width: 80%;
  }
}
