@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

$Poppins: "Poppins", sans-serif;

// Colors
$body-color: #19191b;
$main-color: #5454d4;
$primary-color: #fff;
$secondary-color: rgba(255, 255, 255, 0.7);

@mixin mT($size) {
  margin-top: $size;
}

@mixin paragraph($size, $my, $lineH) {
  font-size: $size;
  margin: $my 0;
  color: $secondary-color;
  line-height: $lineH;
}

@mixin btn {
  color: $primary-color;
  background-color: $main-color !important;
  padding: 8px 20px;
  background: transparent;
  border: 1px solid $secondary-color !important;
  cursor: pointer;
  &:hover {
    border-color: $main-color;
    background: transparent !important;
    transition: ease all 1s;
  }
}
// Rectangle---------------
@mixin rectangle {
  content: "";
  position: absolute;
  height: 249px;
  width: 249px;
  transform: rotate(24deg);
  border: 2px solid $primary-color;
  border-radius: 14.72px;
}
//-------------Arrow------------------------
@mixin arrow($rWidth, $lWidth, $left) {
  border: solid rgb(255, 255, 255);
  border-width: 0 $rWidth $lWidth 0;
  display: inline-block;
  padding: 10px;
  position: absolute;
  left: $left;
}
// Triangle
@mixin triangle($height, $width, $Deg, $bborder) {
  content: " ";
  height: $height;
  width: $height;
  position: absolute;
  transform: rotate($Deg);
  border-width: 0px 0px 0px $bborder;
  border-style: solid;
}

// Responsive

@mixin sm {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin md {
  @media (min-width: 768px) and (max-width: 992px) {
    @content;
  }
}
@mixin lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}
