@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

$Poppins: "Poppins", sans-serif;

// Colors
$body-color: #19191b;
$main-color: #5454d4;
$primary-color: #fff;
$secondary-color: rgba(255, 255, 255, 0.7);
