@import "../../styles/Variables.scss";

.banner {
  display: grid;
  grid-template-columns: 5fr 6fr;
  @include sm {
    grid-template-columns: 1fr;
  }
  @include mT(80px);
  &-content {
    h2 {
      font-size: 53.1px;
      font-style: normal;
      font-weight: bold;
      line-height: 55.7px;
      @include mT(70px);
    }
    p {
      @include paragraph(14px, 15px, 30px);
    }
    button {
      @include btn;
    }
  }
  &-icon-ar {
    transform: rotate(20deg);
  }
  &-img {
    text-align: center;
    position: relative;
    .img {
      z-index: 1;
      clip-path: polygon(
        71% -6%,
        76% 3%,
        98% -8%,
        102% 54%,
        82% 89%,
        75% 101%,
        33% 87%,
        12% 80%,
        -3% 54%,
        20% 9%
      );
    }
    &::before {
      @include rectangle;
      left: 231px;
      bottom: 38px;
      background: $main-color;
      @include sm {
        left: 89px;
      }
      @include md {
        left: 108px;
        bottom: 38px;
      }
    }
    &::after {
      @include rectangle;
      z-index: -1;
      left: 199px;
      top: 88px;
      @include sm {
        left: 64px;
      }
      @include md {
        left: 87px;
      }
    }
  }
  // Arrow
  &-arrow {
    @include arrow(3px, 3px, 60px);
    transform: rotate(-135deg);
    @include sm {
      top: 27px;
    }
    &::before {
      content: "";
      @include arrow(3px, 3px, 20px);
      bottom: 20px;
    }
    &::after {
      content: "";
      @include arrow(0px, 3px, 43px);
      bottom: 40px;
    }
  }
  // Triangle-----------------------
  &-triangle-1 {
    position: absolute;
    bottom: 0px;
    left: 20px;
    height: 52px;
    width: 0.016px;
    border: 0.16px solid rgb(255, 255, 255);
    &::before {
      @include triangle(60px, 2px, 60deg, 2px);
      border-color: $primary-color;
      left: 10px;
      bottom: -42px;
    }
    &::after {
      @include triangle(60px, 2px, 111deg, 2px);
      left: -15px;
      top: 9px;
    }
  }
}
