@import "../../styles/Variables.scss";

.banner {
  display: grid;
  grid-template-columns: 7fr 4fr;
  align-items: center;
  @include sm {
    grid-template-columns: 1fr;
  }
  @include mT(80px);
  &-content {
    h2 {
      font-size: 53.1px;
      font-style: normal;
      font-weight: bold;
      line-height: 55.7px;
      @include mT(70px);
    }
    p {
      @include paragraph(14px, 15px, 30px);
    }
    button {
      @include btn;
    }
  }
  &-icon-ar {
    transform: rotate(20deg);
  }
  &-img {
    position: relative;
    .img {
      z-index: 1;
      clip-path: polygon(
        71% -6%,
        76% 3%,
        98% -8%,
        102% 54%,
        82% 89%,
        75% 101%,
        33% 87%,
        12% 80%,
        -3% 54%,
        20% 9%
      );
    }
    &::before {
      @include rectangle;
      left: 53px;
      bottom: 38px;
      background: $main-color;
      @include sm {
        left: 50px;
      }
      @include md {
        left: 50px;
        bottom: 38px;
      }
    }
    &::after {
      @include rectangle;
      z-index: -1;
      left: 30px;
      top: 88px;
      @include sm {
        left: 40px;
      }
      @include md {
        left: 40px;
      }
    }
  }
  // Arrow
  &-arrow {
    @include arrow(3px, 3px, 0px);
    transform: rotate(-135deg);
    @include sm {
      top: 27px;
      left: 40px;
    }
    &::before {
      content: "";
      @include arrow(3px, 3px, 20px);
      bottom: 20px;
    }
    &::after {
      content: "";
      @include arrow(0px, 3px, 43px);
      bottom: 40px;
    }
  }
  // Triangle-----------------------
  &-triangle-1 {
    @include triangle;
    bottom: 0px;
    left: -40px;
    @include sm {
      left: 40px;
    }
    &::before {
      @include triangleAb(60px, 2px, 60deg, 2px);
      border-color: $primary-color;
      left: 10px;
      bottom: -42px;
    }
    &::after {
      @include triangleAb(60px, 2px, 111deg, 2px);
      left: -15px;
      top: 9px;
    }
  }
  &-triangle-2 {
    @include triangle;
    bottom: -15px;
    left: -30px;
    @include sm {
      left: 30px;
    }
    &::before {
      @include triangleAb(60px, 2px, 60deg, 1px);
      border-color: $primary-color;
      left: 10px;
      bottom: -42px;
    }
    &::after {
      @include triangleAb(60px, 2px, 111deg, 1px);
      left: -15px;
      top: 9px;
    }
  }
  &-circle {
    @include circle(2px);
    right: 20px;
    &::before {
      content: "";
      @include circle(0.676px);
      top: 18px;
    }
  }
  &-plus {
    @include plus;
    right: 20px;
    bottom: 0;
    &::before {
      content: "";
      @include plus;
      transform: rotate(90deg);
      left: -1px;
    }
  }
}
